.title-form {
  text-align: center;
  font-size: 2rem;
  margin: 30px 0;
  color: white;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-description {
  margin: 20px;
  font-size: 1rem;
}

.first-form {
  margin-top: 10px;
  text-align: center;
  width: auto;
}

.img-form {
  margin-top: 10px;
  max-width: 50%;
}

@media (min-width: 320px) and (max-width: 699px) {
  .form-container {
    display: contents;
  }
  .first-form {
    margin: 20px;
  }
  .title-form {
    margin-bottom: 5%;
  }
}

@media (min-width: 700px) and (max-width: 1009px) {
  .form-description {
    font-size: 0.8rem;
  }
}
