.title-form {
  text-align: center;
  font-size: 2rem;
  margin: 15px 0 5px;
  color: white;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-description {
  margin: 20px;
  font-size: 1rem;
}

.first-form {
  margin-top: 10px;
  text-align: center;
  width: auto;
}

.first-form3 {
  margin-top: 10px;
  text-align: center;
  width: auto;
  margin-bottom: 60px;
}
.card figure {
  justify-content: left;
  color: white;
}
figure.figure-first-form3 {
  justify-content: left;
}

.img-form {
  max-width: 30%;
}
.li-oclock {
  text-align: left;
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 699px) {
  .form-container {
    display: flex;
    width: auto;
  }
  .first-form {
    margin: 20px;
  }
  .first-form3 {
    margin: 20px 20px 50px 20px;
  }
  .title-form {
    margin-bottom: 5%;
  }
}

@media (min-width: 700px) and (max-width: 1009px) {
  .form-description {
    font-size: 0.8rem;
  }
}

/* css fleche */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
.arrow {
  width: 15px;
  height: 15px;
  top: 110%;
  margin: -20px 0 0 150px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
