.card-container {
  width: 80%;
  height: 80%;
  margin: auto;
  padding-top: 50px;
}

.image-container {
  width: 25%;
}

.img-home {
  width: 100%;
  margin-top: 10px;
}

.card-body {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 460px) {
  .card.card-side.bg-base-100.shadow-xl {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .card-body {
    width: 100%;
  }
  .card-title {
    text-align: center;
  }
  .home-paragraphe {
    font-size: 0.9rem;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .card-container {
    padding-top: 150px;
  }
  .home-paragraphe {
    padding-top: 20px;
  }
}
