.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.title {
  font-size: 10rem;
  color: #fdb03e;
}

.error-paragraphe {
  color: white;
}

button.btn.btn-xs.sm\:btn-sm.md\:btn-md.lg\:btn-lg {
  margin-top: 20px;
  background-color: #fdb03e;
  border: #fdb03e;
  margin-bottom: 50px;
}
