.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.title {
  font-size: 10rem;
}

button.btn.btn-xs.sm\:btn-sm.md\:btn-md.lg\:btn-lg {
  margin-top: 80px;
  background-color: #ffcc59;
}
